.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  /* background-color: green; */
}

.list{
    /* background-color: red; */
}

.listWrapper {
  width: 100%;
  max-width: 85%;
  display: flex;
  gap: 20px;
}

.listSearch {
  flex: 1;
  background-color: #febb02;
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  height: max-content;
}

.isTitle {
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

.listResult {
  flex: 3;
}

.lsItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.lsItem label {
  font-size: 12px;
}

.lsItem input {
  height: 30px;
  border: none;
  padding: 5px;
}

.lsItem span {
  height: 30px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.listResult {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.listResult label {
  font-size: 12px;
}

.listResult input {
  height: 30px;
  border: none;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.listResult span {
  height: 30px;
  border: none;
  padding: 5px;
}

.lsOptionItem{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
  font-size: 12px;
}

.lsOptionInput{
  width: 50px;
}

.lsOptionText{
  display: inline-block;
  width: 150px;
  background-color: transparent;
}

.lsOption{
  padding: 10px;
}


.lsOption button{
  padding: 10px;
  background-color: #0071c2;
  color: white;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
}