.listContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.listWrapper{
    width: 100%;
    max-width: 85%;
    display: flex;
    gap: 20px;
}

.listSearch{
    flex: 1;
    background-color: #febb02;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
}

.isTitle{
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.listResult{
    flex: 3;  
}

.listResult{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 5px;
}

.listResult label{
    font-size: 12px;

}

.listResult input{
    height: 30px;
    border: none;
    padding: 5px;
background-color: white;
display: flex;
align-items: center;
cursor: pointer;
}

.listResult span{
    height: 30px;
    border: none;
    padding: 5px;

}