.featured{
    width: 100%;
    max-width: 85%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;

}

.featuredItem{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;

}

.featuredTitle{
    position: absolute;
    bottom: 50px;
    left: 20px;
}

.featuredImage{
    width: 100%;
    object-fit: cover;

}